[Desktop Entry]
Type=Application
Name=Cubical Compare
Comment=Create animated comparison videos
Exec=cubical-compare %F
Icon=io.github.retrofrost.CTS
Categories=AudioVideo;Video;
MimeType=application/x-cubical-compare;
StartupNotify=true
Terminal=false
